.App {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #faf9f6;
}


.App .card-collection {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: solid;
    background-color: aquamarine;
    position: absolute;
    left: 25%;
    top: 500px;
    height: 700px;
    width: 1000px;

    
}

.homepage-logo {
    margin: 10px;
    justify-content: center;
}

.homepage-logo img {
    margin: 10px;
    width: fit-content;
    height: 200px;
}